<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-use.navigation="com.myproject.aem.core.models.MyProjectNavigation"
	data-sly-test.hasContent="${navigation.navItems.size > 0}">
	<ul class="navbar-nav me-auto mb-xs-0 mb-sm-0 justify-content-md-center align-content-md-center align-items-md-center justify-content-lg-center align-content-lg-center align-items-lg-center justify-content-xl-center align-content-xl-center align-items-xl-center cmp-navbar"
		data-sly-list=${navigation.navItems}>
		<li class="nav-item d-md-flex h-100 justify-content-md-center align-items-md-center"
			data-sly-test.hasNoChildren="${item.children.size==0}">
			<a href="${item.URL}" class="nav-link click-contact" data-sly-attribute="${item.link.htmlAttributes}" data-formaction="Form Viewed" data-formid="contactUsForm"
				aria-current="${item.current && 'page'}">${item.title}</a>
		</li>
		<li class="nav-item d-md-flex h-100 justify-content-md-center align-items-md-center dropdown dropdown-hover dropdown-hover-menu position-static" data-sly-test="${!hasNoChildren}">                  
			  <a href="${item.addLink ? item.URL : '#'}" 
			   class="nav-link dropdown-hover-icon dropdown-toggle dropdown-toggle-m dropdown-toggle-show menu-toolbox" data-subsectionimage="${item.subSectionImage}" role="button" id="mobiledropdownMenuLink${item.title}" aria-expanded="true">${item.title}</a>			
                  <!--/* Dropdown mega menu */-->
				<div class="dropdown-menu w-100" aria-labelledby="mobiledropdownMenuLink${item.title}">
                	<div class="container-fluid pt-md-4 mega_menu_wrapper">
                    	<div class="row mt-md-5 mb-0">
                        	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mb-md-3 mb-xs-0 mb-lg-0">
                          		<div class="cmp-sub-description">
                            		${item.navDescription}
                          		</div>
                        	</div>
                        	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-9 mb-md-3 mb-xs-0 mb-lg-0 inner-mg-menu-wrapper">
								<div class="row">
        							<div class="col-sm-4 col-md-4 col-lg-4 pt-3 pt-md-0">
										<ul class="list-group list-group-flush mega-menu-wrapper ms-md-5" 
											data-sly-test="${item.children.size > 0}" 
											data-sly-list="${item.children}">                        
											<li class="software-tab">
                            					<a href="${item.URL}" data-image="${item.subSectionImage}" class="list-group-item submenu-link">${item.title}</a>                            
                            				</li>
										</ul>
                        			</div>
									<div class="col-sm-6 col-md-6 col-lg-8">
										<div class="cmp-megamenu-image d-none d-md-block d-sm-block d-lg-block d-xl-block d-xxl-block w-100 h-auto" 
										     data-sly-test="${item.subSectionImage}">
                                			<img src="${item.subSectionImage}" alt="${'toolbox' @ i18n}" class="img-fluid h-auto w-100">
                   						</div>
                        			</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</li>
	</ul>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>