/*-------------------------------------------------*\
   General style sheet for About page and Sustainability Component  

   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Header Section
   - Image in right side
   - Image in left side
   - Teaser Content left sticky
   - Video section

\*-------------------------------------------------*/

  /*-------------------------------------------*\
        Header Section
  \*-------------------------------------------*/

.container-bg-grey{
    background: $color-gray;
    .title{
        padding: 6em 15.3em;
        @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-min) {
            padding: 6em 18.5%;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
            padding: 6em 19%;
        }
        @media (max-width: $screen-md-min) {
            padding: 6em 0.5em 6em 2.5em;
        }
        .cmp-title{
            @media (max-width: $screen-md-min) {
                width: 100%;
                margin: 0;
            }
            h1{
                font-size: $font-size-70;
                font-style: normal;
                font-weight: $font-weight-700;
                line-height: $line-height-90;
                letter-spacing: $letter-spacing-02;
                font-family: $font-family-Bekaert-heading-bold;
                color: $color-dark-blue;
                @media (max-width: $screen-md-min) {
                    font-size: $font-size-36;
                    line-height: $line-height-51;
                }
            }
        }    
    }
}

  /*-------------------------------------------*\
        Image in right side
  \*-------------------------------------------*/

.teaser-right-image {
    width: 100%;
    max-width: 81.6%;
    margin: 0 0 0 auto;
    @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
        max-width: 85%;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
        max-width: 92%;
    }
    @media (max-width: $screen-md-min) {
        max-width: 100%;
    }

    .cmp-teaser {
        display: grid;
        grid-template-columns: 30% 1fr;
        
        .cmp-teaser__image {
            order: 3;

            .cmp-image {
                height: 100%;

                .cmp-image__image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .cmp-teaser__content {
            padding: 10em 8.5em;
            background: $color-white;
            min-height: 6em;
            @media (min-width: $screen-xll-c-min){
                width: 566px;
            }
            .cmp-teaser__title{
                font-family: $font-family-Bekaert-heading-regular;
                font-weight: $font-weight-400;
                font-size: $font-size-30;
                line-height: $line-height-40;
                letter-spacing: $letter-spacing-02;
                padding-bottom: 0.5em;
                color: $color-dark-blue;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-30;
                }
            }
            .cmp-teaser__description{
                font-size: $font-size-15;
                line-height: $line-height-21-99;
                color: $color-dark-gray;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-15;
                }        
                @media (min-width: $screen-xll-c-min){
                    width: 262px;
                }        
            }
            @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
                padding: 5em 6.1em;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                padding: 3em 3.5em;
            }
            @media (max-width: $screen-md-min) {
                padding: 4em 2.5em;
            }
        }
        @media (min-width: $screen-xll-bc-min){
            grid-template-columns: auto 1fr;
        }
        
        @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $screen-md-min) {
            display: block;
        }
    }
}

/*-------------------------------------------*\
        Image in left side
  \*-------------------------------------------*/

.teaser-left-image {
    .cmp-teaser {
        display: flex;
        position: relative;
        .cmp-teaser__image {
            width: 73%;
            
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                width: 60%;
            }
            @media (max-width: $screen-md-min) {
                width: 100%;
            }
            img{
                @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                    height: 32em;
                    object-fit: cover;
                }
            }
        }

        .cmp-teaser__content {
            width: 30%;
            bottom: 0;
            position: absolute;
            background: $color-white;
            padding: 10em 10em;
            right: 18%;
            .cmp-teaser__title{
                padding-bottom: 0.5em;
                font-family: $font-family-Bekaert-heading-regular;
                font-weight: $font-weight-400;
                font-size: $font-size-30;
                line-height: $line-height-40;
                letter-spacing: $letter-spacing-02;
                color: $color-dark-blue;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-30;
                }
            }
            .cmp-teaser__description{
                font-size: $font-size-15;
                line-height: $line-height-21-99;
                color: $color-dark-gray;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-15;
                }
                @media (min-width: $screen-xll-c-min){
                    width: 262px;
                }
            }
            @media (min-width: $screen-xl-l-min) and (max-width: $screen-xll-bc-min){
                right: 7%;
                width: 43%;
                padding: 7em 6.5em;
            }
            @media (min-width: $screen-lg-la-min) and (max-width: $screen-xl-l-min){
                padding: 3em 4.5em;
                right: 7%;
                width: 43%;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                padding: 3em 3.5em;
                right: 5%;
                width: 50%;
            }
            @media (max-width: $screen-md-min) {
                position: static;
                width: 100%;
                padding: 4em 2.5em;
            }
            @media (min-width: $screen-xll-c-min){
                width: 566px;
            }
        }

        @media (max-width: $screen-md-min) {
            display: block;
        }
    }
}

/*-------------------------------------------*\
        Teaser Content left sticky
  \*-------------------------------------------*/


.teaser-left-sticky{
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 auto;
    .cmp-teaser{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        .cmp-teaser__image{
            width: 73%;
            @media (max-width: $screen-md-min){
                width: 100%;
            }
        }
        .cmp-teaser__content{
            transform: translate(0%);
            background: $color-white;
            bottom: 0;
            padding: 10em;
            position: absolute;
            left: 18%;
            width: 30%;
            .cmp-teaser__title{
                font-family: $font-family-Bekaert-heading-regular;
                font-weight: $font-weight-400;
                font-size: $font-size-30;
                line-height: $line-height-40;
                letter-spacing: $letter-spacing-02;
                padding-bottom: 0.5em;
                color: $color-dark-blue;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-30;
                }
            }
            .cmp-teaser__description{
                font-size: $font-size-15;
                line-height: $line-height-21-99;
                color: $color-dark-gray;
                @media (min-width: $screen-md-min) and (max-width: $screen-xll-min){
                    font-size: $font-size-15;
                }
                @media (min-width: $screen-xll-c-min){
                    width: 262px;
                }        
            }
            @media (min-width: $screen-xl-l-min) and (max-width: $screen-xll-bc-min){
                left: 7%;
                width: 43%;
                padding: 7em 6.5em;
            }
            @media (min-width: $screen-lg-la-min) and (max-width: $screen-xl-l-min){
                padding: 3em 3.5em;
                left: 7%;
                width: 43%;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                padding: 2em 2.5em;
                left: 5%;
                width: 50%;
            }
            @media (max-width: $screen-md-min) {
                position: static;
                width: 100%;
                padding: 4em 2.5em;
            }
            @media (min-width: $screen-xll-c-min){
                width: 566px;
            }
        }
        @media (max-width: $screen-md-min){
            display: block;
        }
    }
}


/*-------------------------------------------*\
        Video section
  \*-------------------------------------------*/


.cmp-video-text{
    .cmp-columncontrol{
        margin: 0 0 0 auto;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        width: 100%;
        max-width: 81.6%;
        .row{
            display: grid;
            grid-template-columns: auto 1fr;
            & > div{
                &:first-child{
                    padding: 0px;
                    width: 100%;
                    @media (min-width: $screen-xll-c-min){
                        width: 566px;
                    }
                    .column-inner{
                        height: 100%;
                        .column-wrapper{
                            height: 100%;
                            .cmp-container{
                                height: 100%;
                                .text{
                                    height: 100%;
                                    div{
                                        background: $color-white;
                                        min-height: 6em;
                                        padding: 10em 8.5em;   
                                        margin: 0;
                                        width: 100%;    
                                        height: 100%;                     
                                        @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
                                            padding: 5em 6.1em;
                                        }
                                        @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min) {
                                            padding: 3em 3.5em;
                                        }
                                        @media (max-width: $screen-md-min) {
                                            padding: 4em 2.5em;
                                        }                            
                                        h3{
                                            font-size: $font-size-30;
                                            padding-bottom: 0.5em;
                                            width: 100%;
                                        }
                                        p{
                                            margin: 0;
                                            width: 100%;
                                            @media (max-width: $screen-md-min) {
                                                font-size: $font-size-15;
                                            }
                                            @media (min-width: $screen-xll-c-min){
                                                width: 262px;
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
                &:last-child{
                    width: 100%;
                    padding: 0px;
                    height: 100%;
                    .column-inner{
                        height: 100%;
                        .column-wrapper{
                            height: 100%;
                            .cmp-container {
                                height: 100%;
                                .videotext{
                                    height: 100%;
                                    .white-box{
                                        height: 100%;
                                        .heading{
                                            display: none;
                                        }
                                        .title{
                                            display: none;
                                        }
                                        div{
                                            &:first-child{
                                                display: none;
                                            }
                                        }
                                        .cmp-embed{
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
            @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
                grid-template-columns: 1fr 1fr;
            }            
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min){
                grid-template-columns: 50.3% 1fr;
            }
            @media (max-width: $screen-md-min) {
                display: block;
            }
        }
        @media (min-width: $screen-lg-la-min) and (max-width: $screen-xll-bc-min) {
            max-width: 85%;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-la-min){
            max-width: 92%;
        }
        @media (max-width: $screen-md-min) {
            max-width: 100%;
        }     
    } 
    
}

.card-space-remove{
    .column-2{
        .card-wrapper {
            .cmp-columncontrol{        
                @media (max-width: $screen-xll-c-min){
                    max-width: 896pt;           
                }
                @media (min-width: $screen-xll-e-min) and (max-width: $screen-xll-bc-min){
                    max-width: 1025pt;
                }
                .teaser{
                    .cmp-teaser{
                        .cmp-teaser__image{
                            .cmp-image{
                                .cmp-image__image{
                                    @media (min-width: $screen-xll-e-min)and (max-width: $screen-xll-bc-min){
                                        height: 318px;
                                        width: 318px;
                                    }
                                    @media (min-width: $screen-xl-min)and (max-width: $screen-xll-e-min){
                                        height: 273px;
                                        width: 273px;
                                    }
                                    @media (min-width: $screen-xs-min)and (max-width: $screen-md-min){
                                        height: 198px;
                                        width: 100%;
                                    }
                                }
                            }
                            .calculator-icon{
                                @media (min-width: $screen-xll-e-min)and (max-width: $screen-xll-bc-min){
                                    width: 60px;
                                    height: 60px;
                                }
                                @media (min-width: $screen-xl-min)and (max-width: $screen-xll-e-min){
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                        }
                    }
                }         
            }
        }
    }
}