/*-------------------------------------------------*\
   General style sheet for the Header Component
   
   Table of Contents
   If you conduct a Search on the page, type in the 
   section below that you would like to jump to.

   - Homepage Header
   - Header Variations
   - Header Search
   - Header Navigation
   - Header Language Selector
   - Header Software Tools
   - Header Upcoming Events
   - Header Document Icon
   - Header Request a call back
   - Header Logo
   
\*-------------------------------------------------*/

/*-------------------------------------------*\
    Header common page section
\*-------------------------------------------*/

.cmplistpage {
  width: 100%;
  position: relative;
  height: 100%;
  @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
    height: unset;
  }

  /*-------------------------------------------*\
    Header Common Header
\*-------------------------------------------*/

  .cmp-header {
    padding: 0px;

    /*-------------------------------------------*\
      Header Common component
  \*-------------------------------------------*/

    .cmp-header-common {
      /*-------------------------------------------*\
      Header padding right and left
    \*-------------------------------------------*/
      .cmp-header-padding {
        padding: 0px 70px;
      }

      /*-------------------------------------------*\
      Language Selector
    \*-------------------------------------------*/

      .cmp-language-navigation {
        width: 110px;
        margin-top: -13px;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          margin-top: 0px;
        }
        .cmp-language-list {
          width: 100%;
          margin: 0;
          padding: 0;
          background-color: transparent;
          border: 0px;
          color: $color-white;
          position: relative;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            width: 130px;
          }
          .cmp-language-order {
            cursor: pointer;
            position: absolute;
            color: $color-white;
            width: 100%;
            list-style-type: none;
            background-color: transparent;
            padding: 3px 0 0 0;
            margin: 0px;
            border: 0px;
            font-family: $font-family-Bekaert-regular;
            font-style: $font-style-normal;
            font-weight: $font-weight-400;
            font-size: $font-size-15;
            line-height: $line-height-18;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              color: $color-dark-gray;
              font-size: $font-size-15;
              font-weight: $font-weight-400;
              position: unset;
            }
            .cmp-language-list-menu {
              position: absolute;
              z-index: 10000;
              top: 38px;
              left: 0px;
              display: none;
              background: $color-white;
              margin: 0;
              padding: 0;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                position: static;
                padding-top: 20px;
              }
              .cmp-langauage-list-val {
                padding: 0px;
                width: 141px;
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  width: 230px;
                  padding-bottom: 20px;
                }
                a {
                  color: $color-light-gray;
                  display: block;
                  text-decoration: none;
                  border-right: 0;
                  font-size: $font-size-15;
                  font-weight: $font-weight-400;
                  line-height: $line-height-18;
                  font-family: $font-family-Bekaert-regular;
                  font-style: $font-style-normal;
                  border-bottom: 1px solid $color-light-gray;
                  padding: 10px;
                  @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                    border-width: 0px 0px 0px 0px;
                    border-radius: 0px;
                    border-bottom: 0px;
                    padding: 0px;
                  }
                }
              }
            }
            &:hover {
              padding: 10px 10px;
              width: 141px;
              background-color: $color-white;
              color: $color-dark-blue;
              cursor: pointer;
              z-index: 999999;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                padding: 0px;
                width: unset;
              }
              .cmp-language-list-menu {
                display: block;
              }
              &::after {
                content: "";
                height: 26px;
                position: absolute;
                width: 20px;
                right: 8px;
                top: 16px;
                z-index: 999;
                background: url(#{$image-path}/dropup.svg) 0px 0px no-repeat;
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  top: 9px;
                  left: 116px;
                }
              }
            }
            &::after {
              content: "";
              height: 26px;
              position: absolute;
              width: 20px;
              right: -16px;
              top: 10px;
              z-index: 999;
              background: url(#{$image-path}/languagedropdw.svg) 0px 0px
                no-repeat;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                background: url(#{$image-path}/mblanguage.svg) 0px 0px no-repeat;
                right: 3px;
              }
            }
          }
        }
      }

      /*-------------------------------------------*\
      Software tools and upcoming events
    \*-------------------------------------------*/

      .cmp-primary-menu-bar {
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          display: none;
        }
        .cmp-top-header-right {
          grid-gap: 0px;
          .cmp-top-bar-btn {
            width: 165px;
            &:last-child {
              justify-content: end;
            }
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
              width: 140px;
            }
          }
        }
      }

      .cmp-top-bar-btn {
        color: $color-white;
        .mb-icon {
          img {
            padding-bottom: 5px;
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
              padding-bottom: 3px;
            }
          }
        }
        @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
          align-items: center;
        }
        .cmp-top-bar-tools {
          font-size: $font-size-15;
          font-weight: $font-weight-400;
          line-height: $line-height-18;
          color: $color-white;
          text-decoration: none;
          padding: 0px 0px 0px 10px;
          .mb-icon {
            img {
              padding-bottom: 5px;
              @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                padding-bottom: 3px;
              }
            }
          }
          @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
            font-size: $font-size-12;
            padding: 0 0 0 6px;
          }
        }
        .cmp-top-bar-events {
          font-size: $font-size-15;
          font-weight: $font-weight-400;
          line-height: $line-height-18;
          color: $color-white;
          text-decoration: none;
          padding: 0px 0px 0px 10px;
          @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
            font-size: $font-size-12;
          }
        }
        &:hover {
          border: 0px;
        }
      }

      .cmp-top-bar-btn-hover {
        display: none;
      }

      /*-------------------------------------------*\
      Search Section
    \*-------------------------------------------*/

      .cmp-search-section-wrapper {
        display: none;
        position: absolute;
        left: 0;
        top: 0%;
        width: 100%;
        padding: 81px 0px 80px 0px;
        z-index: 1030;
        -webkit-animation-name: megamenuanime;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;

        .cmp-search-title {
          font-weight: $font-weight-300;
          font-size: $font-size-32;
          line-height: $line-height-50;
          letter-spacing: -0.02em;
          color: $color-dark-blue;
          width: 295px;
          height: 138px;
          left: 70px;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
        }

        .cmp-search_wrapper_inner {
          padding: 0px 70px 0px 70px;
        }
      }

      .product-show {        
        height: 150px;        
        background-color: $color-white;
        overflow-x: hidden;
        display: none;
        border: 1px solid $color-dark-blue-II;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          width: 67%;
          top: 60px;
          z-index: 1090;
          position: absolute;
          padding: 0px 0px 0px 33px;
        }

        ul {
          list-style: none;
          padding: 0px 0px 0px 98px;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0px 0px 0px 10px;
          }
          li {
            margin: 5px 0px 20px 0px;
            color: $color-dark-shade-gray;
            font-size: $font-size-16;
            font-weight: $font-weight-400;
            font-style: $font-style-normal;
            line-height: $line-height-18;
            a {
              text-decoration: none;
              color: $color-black;
              cursor: pointer;
            }
          }
        }
      }

      .search {
        display: flex;
        border: 1px solid $color-light-gray;
        padding: 20px 30px;
        .bi {
          fill: $color-pure-cyan;
        }
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          margin: 0em 3em 0em 0em;
          border: 0px;
          padding: 0px;
          border-bottom: 1px solid $color-dark-blue;
          width: 80%;
          height: 50px;
        }

        .search-bar {
          border: 1px solid $color-pure-cyan;
          border-width: 0px 0px 0px 1px;
          border-radius: 0px;
          font-style: $font-style-normal;
          font-weight: $font-weight-400;
          font-size: $font-size-16;
          line-height: $line-height-18;
          color: $color-dark-shade-gray;

          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            border-bottom: 1px solid $color-dark-blue;
            border-radius: 0px;
            border: 0px;
            margin-right: 0px;
            z-index: 1;
            width: 80%;
          }
          &:focus{
            box-shadow: unset;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              box-shadow: unset;
            }
          }
        }

        .input-group-addon {
          margin: 0px;
          padding: 4px 30px 0px 0px;
          cursor: pointer;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 4px 10px 0px 0px;
          }
        }
      }

      /*-------------------------------------------*\
       desktop Header Hide
    \*-------------------------------------------*/

      .xtra-mb-menu {
        display: none;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          grid-gap: 1em;
          padding-left: 0px;
          text-align: left;
          padding: 10px 30px;
        }

        &:focus {
          border: 0px;
        }
        a {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            margin-bottom: 0px;
            font-size: $font-size-16;
            font-weight: $font-weight-400;
            color: $color-dark-blue;
            text-decoration: none;
          }
        }
      }

      .abt-faq {
        display: none;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          grid-gap: 1em;
          padding: 30px 30px 0px 30px;
        }
        a {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            text-decoration: none;
            font-size: $font-size-16;
            font-weight: $font-weight-400;
            line-height: $line-height-18;
            color: $color-dark-gray;
          }
        }
        ul {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            list-style: none;
            padding: 0px;
            margin: 0px;
          }
        }
        li {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0.5em 0em;
          }
        }
      }

      .cmp-bottom-bar {
        display: none;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          border-top: 1px solid $color-dark-gray;
          grid-gap: 1em;
          align-items: center;
          display: grid;
          grid-template-columns: auto 1fr;
          width: 100%;
          margin-top: 46px;
        }
      }

      /*-------------------------------------------*\
       Request Quote Button
    \*-------------------------------------------*/

      .quote-btn {
        border: 1px solid $color-dark-blue;
        color: $color-dark-blue;
        border-radius: 0px;
        padding: 15px 17px 15px 17px;
        font-style: $font-style-normal;
        font-weight: $font-weight-700;
        font-size: $font-size-15;
        font-family: $font-family-Bekaert-bold;
        line-height: $line-height-18;
        width: 171px;
        overflow: hidden;
        box-shadow: none;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          color: $color-dark-blue;
          font-size: $font-size-16;
          font-weight: $font-weight-700;
          font-family: $font-family-Bekaert-bold;
          border: 1px solid $color-light-gray;
          width: 100%;
          padding: 20px 0px;
        }
        &:hover {
          color: $color-dark-blue;
          background-color: transparent;
          border-color: $color-dark-blue;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            border-color: $color-dark-blue;
            color: $color-dark-blue;
          }
        }
      }

      /*-------------------------------------------*\
       Right Icons alignment
    \*-------------------------------------------*/

      .cmp-right-nav-wrapper {
        display: flex;
        align-content: center;
        align-items: center;
        z-index: $zindex-tooltip;
        grid-gap: 54px;
        @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
          grid-gap: 43px;
        }
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          flex-direction: column;
          align-items: flex-start;
          align-content: flex-start;
          grid-gap: 0px;
        }


        /*-------------------------------------------*\
       Right Icons alignment Hide for other variations
      \*-------------------------------------------*/

        .cmp-search-icon {
          padding: 0px;
          border: 0px;
          display: none;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
          &:hover {
            border: 0px;
          }
          &:focus{
            border: 0px;
            box-shadow: unset;
          }
          &:active{
            border: 0px;
          }
        }
        .cmp-file-box {
          padding: 0px;
          display: none;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
        }

        /*-------------------------------------------*\
         language dropdown hide
      \*-------------------------------------------*/
      .cmp-language-des{
        display: none;
      }
      

        /*-------------------------------------------*\
       Right Icons alignment Show for common variation
       \*-------------------------------------------*/

        .cmp-search-icon-ch {
          padding: 0px;
          border: 0px;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
          &:hover {
            border: 0px;
          }
          &:focus{
            border: 0px;
            box-shadow: unset;
          }
          &:active{
            border: 0px;
          }
        }

        .cmp-file-box-ch {
          padding: 0px;
          position: relative;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
          .cmp-dot {
            height: 16px;
            width: 16px;
            background-color: $color-background-red;
            border-radius: 50%;
            position: absolute;
            top: 2%;
            right: -5px;
            span {
              background-color: $color-white;
              color: $color-background-dark;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              font-size: $font-size-16;
              font-weight: $font-weight-700;
              min-width: 198px;
              padding: 4px 11px;
              top: 52px;
              transition: 0.5s;
              opacity: 0; /* to hide it but still there*/
              border: 1px solid $color-regal-blue-II;
              border-radius: 5px;

              &::before {
                content: "";
                position: absolute;
                top: -16px;
                left: 43%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                transform: rotate(180deg);
                border-top-color: $color-white;
              }
            }

            &:hover {
              overflow: visible;
              span {
                display: inline;
                opacity: 1;
              }
            }
          }
        }
      }

      /*-------------------------------------------*\
       Secondary Menu Nav Bar
    \*-------------------------------------------*/

      .cmp-secondary-menu-bar {
        z-index: 1020;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          padding: 0px;
        }
        .cmp-header-padding {
          padding: 0px 70px;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0px 20px;
            justify-content: space-around;
            border-bottom: 1px solid $color-light-blue;
          }
          @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
            display: grid;
            grid-template-columns: 14% 1fr;
          }
        }
        .cmp-sticky-logo-hide{
          display: none;
        }
        .cmp-sticky-logo-show{
          display: block;
        }
        .logo-wrapper {
          padding-right: 48px;
          z-index: 1090;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            border: 1px solid $color-light-blue;
            border-width: 0px 1px 0px 1px;
            border-radius: 0px;
            padding: 10px 10%;
            z-index: 1;
          }
        }

        .offcanvas-header {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding-top: 10px;
          }
          .btn-close {
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              content: "";
              position: absolute;
              height: 1px;
              width: 8px;
              z-index: 1;
              border: 0px;
              margin-left: 2px;
              right: 0px;
              opacity: 1;
              padding: 26px;
              background: url(#{$image-path}/mbclose.svg) 20px 21px no-repeat;
              background-size: 14px;
              border: 1px solid $color-light-gray;
              border-top: 0px;
              border-radius: 0px;
            }
          }
        }

        .offcanvas-body {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0px;
          }
          .cmp-button-wrapper {
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              padding: 30px 31px 30px 31px;
              width: 100%;
            }
            a {
              @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                font-size: $font-size-12;
                padding: 10px 12px;
                width: 144px;
              }
            }
          }
        }

        .offcanvas-top {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            height: 100%;
          }
        }

        .cmp-top-bar-btn-scroll {
          display: none;
        }

        .cmp-top-bar-email {
          display: none;
        }

        .cmp-top-bar-ch {
          display: block;
        }

        /*-------------------------------------------*\
       Sticky Header
    \*-------------------------------------------*/

        &.cmp-sticky {
          position: fixed;
          top: 0px;
          width: 100%;
          background-color: $color-white;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            border-bottom: 1px solid $color-light-blue;
            padding: 0px;
          }
          .cmp-navbar {
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
              grid-gap: 19px;
            }
            .nav-item {
              z-index: $zindex-tooltip;
              .nav-link {
                color: $color-dark-blue;
                word-break: break-word;
                position: relative;
                @media only screen and (min-width: $screen-md-min) {
                  padding-bottom: 8px;
                }
                @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                  font-size: $font-size-14;
                  position: relative;
                }
              }
            }
            .dropdown {
              .dropdown-hover-icon {
                &:after {
                  content: "";
                  position: absolute;
                  height: 26px;
                  position: absolute;
                  width: 20px;
                  z-index: 1;
                  border: 0px;
                  top: 47%;
                  margin: 0 0 0 6px;
                  background: url(#{$image-path}/dropdwsticky.svg) 10px 14px
                    no-repeat;
                  background-position: top;
                  @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                    background: url(#{$image-path}/dropdwsticky.svg) 10px 14px
                      no-repeat;
                    width: 50px;
                    transform: rotate(0deg);
                    top: 20%;
                  }
                  @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                    background-size: 8px;
                  }
                }
                &.show {
                  &:after {
                    @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                      content: "";
                      position: absolute;
                      height: 26px;
                      width: 20px;
                      z-index: 1;
                      border: 0px;
                      margin-left: 2px;
                      background: url(#{$image-path}/dropup.svg) 10px 14px
                        no-repeat;
                      transform: rotate(0deg);
                      top: 20%;
                    }
                  }
                }
              }
            }
            .dropdown-hover {
              &:hover {
                .dropdown-hover-icon {
                  &:after {
                    content: "";
                    position: absolute;
                    height: 26px;
                    width: 20px;
                    z-index: 1;
                    border: 0px;
                    top: 47%;
                    margin: 0 0 0 6px;
                    background: url(#{$image-path}/dropup.svg) 10px 14px
                      no-repeat;
                    background-position: top;
                    @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                      background-size: 8px;
                    }
                  }
                }
              }
            }
          }
          .cmp-sticky-logo-hide{
            display: none;
          }
          .cmp-sticky-logo-show{
            display: block;
          }

          .cmp-sticky-header-hide {
            display: none;
          }

          .cmp-sticky-header-show {
            display: block;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              display: none;
            }
          }

          .quote-btn {
            border: 1px solid $color-dark-blue;
            color: $color-dark-blue;
            font-size: $font-size-15;
            font-weight: $font-weight-700;
          }

          .cmp-top-bar-email {
            display: none;
          }

          .cmp-top-bar-ch {
            display: none;
          }

          .cmp-top-bar-btn-scroll {
            display: block;
          }

          .navbar-toggler {
            border: 0px solid;
            color: $color-transparent;
            position: relative;
            .navbar-toggler-icon {
              background: url(#{$image-path}/mbmenusticky.svg) 0 1px no-repeat;
              content: "";
              height: 40px;
              margin-left: -24px;
              position: absolute;
              top: -56%;
              left: 70%;
              width: 40px;
              z-index: 111;
              background-size: 22px;
            }
            .cmp-dot {
              height: 16px;
              width: 16px;
              background-color: $color-pure-cyan;
              border-radius: 50%;
              position: absolute;
              top: -7px;
              right: 10px;
            }
          }

          .logo-wrapper {
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              border: 1px solid $color-light-blue;
              border-width: 0px 1px 0px 1px;
              border-radius: 0px;
              padding: 10px 10%;
              z-index: 1;
            }
          }
          .cmp-file-box {
            position: relative;
            .cmp-dot {
              height: 16px;
              width: 16px;
              background-color: $color-pure-cyan;
              border-radius: 50%;
              display: inline-block;
              position: absolute;
              top: 2%;
              right: -5px;

              span {
                background-color: $color-white;
                color: $color-background-dark;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: $font-size-16;
                font-weight: $font-weight-700;
                min-width: 198px;
                padding: 4px 11px;
                top: 52px;
                transition: 0.5s;
                opacity: 1;
                /* to hide it but still there*/
                border: 1px solid $color-regal-blue-II;
                border-radius: 5px;
                display: inline;

                &::before {
                  content: "";
                  position: absolute;
                  top: -16px;
                  left: 43%;
                  transform: translateX(-50%);
                  border: 10px solid transparent;
                  transform: rotate(180deg);
                  border-top-color: $color-white;
                }
              }
            }
          }
        }
      }

      /*-------------------------------------------*\
       Navbar 
    \*-------------------------------------------*/

      .cmp-navbar {
        grid-gap: 30px;
        @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
          grid-gap: 19px;
        }
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          position: relative;
          padding: 20px 30px 14px 30px;
          grid-gap: 0px;
        }

        .nav-item {
          z-index: $zindex-tooltip;
          .nav-link {
            color: $color-dark-blue;
            font-size: $font-size-20;
            font-weight: $font-weight-400;
            line-height: $line-height-24;
            font-style: $font-style-normal;
            cursor: pointer;
            opacity: 1;
            word-break: break-word;
            position: relative;
            @media only screen and (min-width: $screen-md-min) {
              padding-bottom: 8px;
            }
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              color: $color-dark-blue;
              font-size: $font-size-24;
              font-weight: $font-weight-300;
              padding: 4px 0px 16px 0px;
              opacity: 1;
              position: relative;
            }
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
              font-size: $font-size-14;
              position: relative;
            }
          }
          .submenu-link {
            color: $color-dark-blue;
            opacity: 0.5;
            cursor: pointer;
            font-size: $font-size-20;
            font-weight: $font-weight-700;
            line-height: $line-height-50;
            letter-spacing: $letter-spacing-02;
            font-family: $font-family-Bekaert-bold;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              font-size: $font-size-16;
              font-weight: $font-weight-400;
              line-height: $line-height-18;
            }
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
              font-size: $font-size-18;
              line-height: $line-height-35;
            }
            &:hover {
              background-color: transparent;
              color: $color-dark-blue;
              opacity: 1;
              font-size: $font-size-20;
              font-weight: $font-weight-700;
              cursor: pointer;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                font-size: $font-size-16;
                font-weight: $font-weight-400;
                line-height: $line-height-18;
                color: $color-black;
              }
              @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                font-size: $font-size-18;
                line-height: $line-height-35;
              }
              &:after {
                background: url(#{$image-path}/submenunav.svg) 0px 21px
                  no-repeat;
                border: 0;
                content: "";
                height: 35px;
                margin-left: 30px;
                position: absolute;
                width: 35px;
                z-index: 1;
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  background: url(#{$image-path}/submenunav.svg) 0px 3px
                    no-repeat;
                }
                @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                  background: url(#{$image-path}/submenunav.svg) 0px 13px
                    no-repeat;
                }
              }
            }
          }
          .dropdown-menu {
            transition: all 0.3s;
            padding: 0rem;
            border-radius: 0rem;
            .dropdown-item {
              color: $color-black;
            }
            &.show {
              display: none;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                display: block;
              }
            }
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              border: 0px;
              box-shadow: 0px 0px 0px 0px;
            }
          }

          &:second-child {
            color: $color-dark-blue;
            opacity: 1;
          }
        }

        .dropdown-hover {
          &:hover {
            &:not(.mb-disable-hover) {
              .dropdown-menu {
                display: block;
                left: 1px;
                margin-top: 0.125rem;
                top: 100%;
                border-radius: 0px;
                border: 0px;
                transition: all 0.3s;
                opacity: 1;
                margin-top: -20px;
                margin-left: -1px;
                @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                  z-index: -1;
                  top: 112%;
                }
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  display: none;
                }
              }
            }
            .dropdown-hover-icon {
              &:after {
                content: "";
                position: absolute;
                height: 26px;
                width: 20px;
                z-index: 1;
                border: 0px;
                top: 47%;
                margin: 0 0 0 6px;
                background: url(#{$image-path}/dropup.svg) 10px 14px no-repeat;
                background-position: top;
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  height: 25px;
                  width: 50px;
                  background: url(#{$image-path}/dropup.svg) 26px 0px no-repeat;
                  transform: rotate(180deg);
                  top: -6%;
                }
                @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                  background-size: 8px;
                }
              }
            }
          }
        }

        .dropdown {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            border: 0px;
            box-shadow: 0px 0px 0px 0px;
          }

          .dropdown-hover-icon {
            &:after {
              content: "";
              position: absolute;
              height: 26px;
              position: absolute;
              width: 20px;
              z-index: 1;
              border: 0px;
              top: 47%;
              margin: 0 0 0 6px;
              background: url(#{$image-path}/dropdwsticky.svg) 10px 14px
                no-repeat;
              background-position: top;
              @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                width: 50px;
                height: 25px;
                background: url(#{$image-path}/dropdwsticky.svg) 16px 16px
                  no-repeat;
                transform: rotate(0deg);
                top: -6%;
              }
              @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                background-size: 8px;
              }
            }
          }
        }

        /*-------------------------------------------*\
       Navbar submenu image
      \*-------------------------------------------*/

        .software-tab {
          img {
            display: none;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 100%;
            width: 94%;
            padding: 0em 1em;
          }
        }

        #software {
          display: none;
        }

        .list-group-item {
          color: $color-dark-blue;
          opacity: 0.5;
          border: 0px;
          padding: 0px 0px 10px 0px;
          .active {
            color: $color-dark-blue;
          }
        }

        .mega_menu_wrapper {
          padding: 0px 0px 0px 70px;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0px;
          }
          .cmp-sub-description {
            font-family: $font-family-Bekaert-heading-regular;
            font-weight: $font-weight-400;
            font-size: $font-size-30;
            line-height: $line-height-50;
            letter-spacing: -0.02em;
            color: $color-dark-blue;
            width: 295px;
            height: 138px;
            left: 70px;
            margin: -10px 0px 0px 0px;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              display: none;
            }
          }

          .inner-mg-menu-wrapper {
            .cmp-megamenu-image {
              position: relative;
              bottom: -1px;
              .cmp-inner-image {
                width: 660px;
                height: auto;
              }
            }
          }
        }
      }

      /*-------------------------------------------*\
       Top bar background 
    \*-------------------------------------------*/

      .cmp-transparent {
        background-color: $color-dark-blue;
        z-index: 1080;
      }

      /*-------------------------------------------*\
       Top bar background color change on hover
    \*-------------------------------------------*/

      .cmp-bg-change-top,
      .cmp-search-bg-change-top {
        background-color: $color-dark-blue;
        visibility: hidden;
      }

      .cmp-bg-change-navbar,
      .cmp-search-change-navbar {
        background-color: $color-white;
        visibility: hidden;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          background-color: transparent;
        }
        .cmp-navbar {
          @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
            grid-gap: 19px;
          }
          .nav-item {
            z-index: $zindex-tooltip;
            .nav-link {
              color: $color-dark-blue;
              word-break: break-word;
              position: relative;
              @media only screen and (min-width: $screen-md-min) {
                padding-bottom: 8px;
              }
              @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-la-min) {
                font-size: $font-size-14;
                position: relative;
              }
            }
          }
          .dropdown {
            .dropdown-hover-icon {
              &:after {
                content: "";
                position: absolute;
                height: 26px;
                position: absolute;
                width: 20px;
                z-index: 1;
                border: 0px;
                top: 47%;
                margin: 0 0 0 6px;
                background: url(#{$image-path}/dropdwsticky.svg) 10px 14px
                  no-repeat;
                background-position: top;
                @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                  top: 35%;
                }
                @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                  background-size: 8px;
                  top: 35%;
                }
              }
              &.show {
                &:after {
                  @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                    content: "";
                    position: absolute;
                    height: 26px;
                    width: 20px;
                    z-index: 1;
                    border: 0px;
                    margin-left: 2px;
                    background: url(#{$image-path}/dropup.svg) 10px 16px
                      no-repeat;
                    transform: rotate(0deg);
                    top: -6%;
                  }
                }
              }
            }
          }
          .dropdown-hover {
            &:hover {
              .dropdown-hover-icon {
                &:after {
                  content: "";
                  position: absolute;
                  height: 26px;
                  width: 20px;
                  z-index: 1;
                  border: 0px;
                  top: 47%;
                  margin: 0 0 0 6px;
                  background: url(#{$image-path}/dropup.svg) 10px 14px no-repeat;
                  background-position: top;
                  @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
                    background-size: 8px;
                  }
                  @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                    background: url(#{$image-path}/dropup.svg) 1px 2px no-repeat;
                    top: -6%;
                  }
                }
                &.show {
                  &:after {
                    @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                      content: "";
                      position: absolute;
                      height: 26px;
                      width: 20px;
                      z-index: 1;
                      border: 0px;
                      top: 35%;
                      margin: 0 0 0 6px;
                      background: url(#{$image-path}/dropup.svg) 10px 16px
                        no-repeat;
                      background-position: top;
                      transform: rotate(0deg);
                    }
                  }
                }
              }
            }
          }
        }

        .quote-btn {
          border: 1px solid $color-dark-blue;
          color: $color-dark-blue;
          font-size: $font-size-15;
          font-weight: $font-weight-700;
        }

        .cmp-top-bar-btn {
          display: none;
        }

        .cmp-top-bar-btn-hover {
          display: block;
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            display: none;
          }
        }
      }

      /*-------------------------------------------*\
      Header Breadcrumb 
    \*-------------------------------------------*/

      .cmp-breadcrumb-header {
        @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
          padding: 0 70px;
          display: grid;
          grid-template-columns: 14% 1fr;
        }
        background-color: $color-gray;

        @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
          padding: 0 70px;
          display: grid;
          grid-template-columns: 14% 1fr;
        }

        @media only screen and (min-width:$screen-lg-m-min) and (max-width:$screen-xl-lb-min) {
          padding: 0 70px;
          display: grid;
          grid-template-columns: 0% 1fr;        
        }
       

        .cmp-breadcrumb {
          @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
            padding: 0 1em 0 0em;
          }
          @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
            padding: 8px;
          }
          .cmp-breadcrumb-list {
            margin-bottom: 0rem;
            padding: 0 222px;
            @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
              padding: 0rem 0rem 0rem 2rem;
            }
            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-min) {
              padding: 0px;
            }

            @media only screen and (min-width: $screen-xl-l-min) and (max-width: $screen-xl-lb-min) {
              padding: 0 161px;
            }

            @media only screen and (min-width: $screen-xl-m-min) and (max-width: $screen-xl-ma-min) {
              padding: 0px  161px;
            }

            .cmp-breadcrumb-item {
              font-style: $font-style-normal;
              font-weight: $font-weight-700;
              font-size: $font-size-12;
              line-height: $line-height-12;
              color: $color-dark-blue;
              padding: 0px 5px 0px 0px;
              &.active {
                font-style: $font-style-normal;
                font-weight: $font-weight-700;
                font-size: $font-size-12;
                line-height: $line-height-12;
                color: $color-dark-blue;
                padding: 0px 5px 0px 5px;
                opacity: 1;
                cursor: pointer;
              }
              a {
                text-decoration: none;
                color: $color-dark-blue;
                opacity: 0.4;
              }
            }
          }

          .breadcrumb-item {
            + .breadcrumb-item {
              &::before {
                padding: 0px 5px 0px 0px;
              }
            }
          }
        }
      }

      /*-------------------------------------------*\
    Header image
  \*-------------------------------------------*/

      .cmp-header-image {
        height: 100%;
        position: absolute;
        right: -16%;
        top: 4%;
        width: 70%;
        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          right: 0%;
        }
        .cmp-header-bg-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          min-width: 50%;
          min-height: 50%;
        }
      }

      /*-------------------------------------------*\
     Header Page Title
  \*-------------------------------------------*/

      .cmp-header-title {
        font-family: $font-family-Bekaert-heading-bold;
        font-weight: $font-weight-700;
        font-size: $font-size-38;
        line-height: $line-height-84;
        letter-spacing: $letter-spacing-02;
        color: $color-white;
        padding: 4em 1em 0em 3.2em;

        // 1900px
        @media only screen and (min-width: $screen-xll-eln-min) {
          font-size: $font-size-70;
        }

        @media only screen and (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
          font-size: $font-size-70;
          padding-top: 108px;
          margin: 0px 0px 0px 32px;
        }
      }

      /*-------------------------------------------*\
       Mobile view navbar icon
    \*-------------------------------------------*/
      .navbar-toggler {
        border: 0px solid;
        color: $color-transparent;
        position: relative;
        .navbar-toggler-icon {
          content: "";
          background: url(#{$image-path}/mbmenusticky.svg) 0 1px no-repeat;
          position: absolute;
          margin: 0px 0px 0px -24px;
          position: absolute;
          z-index: 111;
          width: 40px;
          top: -56%;
          left: 70%;
          height: 40px;
          background-size: 22px;
          .cmp-dot {
            height: 16px;
            width: 16px;
            background-color: $color-background-red;
            border-radius: 50%;
            position: absolute;
            top: -7px;
            right: 10px;

            @media only screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-l-min) {
              right: 14.5em;
              top: 23px;
              width: 10px;
              height: 10px;
            }

            span {
              background-color: $color-white;
              color: $color-background-dark;
              position: absolute;
              left: -73px;
              transform: translateX(-50%);
              font-size: $font-size-16;
              font-weight: $font-weight-700;
              padding: 10px 18px;
              top: 85px;
              transition: 0.5s;
              opacity: 1;
              /* to hide it but still there*/
              border: 1px solid $color-regal-blue-II;
              border-radius: 5px;
              display: inline;
              width: 200px;

              &::before {
                content: "";
                position: absolute;
                top: -19px;
                left: 86%;
                transform: translateX(-50%);
                border: 10px solid transparent;
                transform: rotate(180deg);
                border-top-color: $color-white;
              }
            }
          }
        }
      }
    }
  }
}
