.request-form-container {
    background-color: $color-gray;

    .form-page-wrapper {

        @media (max-width: $screen-md-min) {
            padding: 18px;
        }
        .form-heading-row {
            .download-header-div {
                .head-text-download {
                    font-family: $font-family-Bekaert-heading-regular;
                    color: $color-pure-cyan;
                    font-size: $font-size-10;
                    font-weight: $font-weight-400;
                    letter-spacing: $letter-spacing-2;
                    line-height: $line-height-12;
                }

                .cmp-download-title {
                    font-family: $font-family-Bekaert-heading-bold;
                    color: $color-dark-blue;
                    font-size: $font-size-70;
                    font-weight: $font-weight-700;
                    letter-spacing: $letter-spacing-02;
                    line-height: $line-height-90;
                    @media (max-width: $screen-md-min) {
                        font-size: $font-size-36;
                        line-height: $line-height-51;
                    }
                }

                .download-heading-desc {
                    font-family: $font-family-Bekaert-regular;
                    font-weight: $font-weight-400;
                    font-size: $font-size-15;
                    line-height: $line-height-146;
                    color: $color-dark-gray;
                }
            }
        }

        .form-details-row {
            .form-details-header {
                .form-details-header-title {
                    font-family: $font-family-Bekaert-heading-regular;
                    font-weight: $font-weight-400;
                    font-size: $font-size-30;
                    line-height: $line-height-36;
                    letter-spacing: $letter-spacing-02;
                    color: $color-dark-blue;
                }

                .form-details-mandatory {
                    font-family: $font-family-Bekaert-regular;
                    font-weight: $font-weight-400;
                    font-size: $font-size-12;
                    line-height: $line-height-14;
                    color: $color-dark-blue;
                }
            }

            .form-details-body {
                @media (min-width: $screen-md-min) {
                    width: 80%
                }
                .form-input-col{
                    height: 6em;
                }
                .request-form-multiple-col{
                    @media (max-width: $screen-md-min) {
                    height: 13em;
                    }
                }
                .request-form-multiple-div{
                    max-width: 440px;
                    @media (max-width: $screen-md-min) {
                        width: 100%;
                        margin: 0;
                    }
                }
                .request-form-small-col{
                    @media (max-width: $screen-md-min) {
                        padding: 0;
                    }
                }
                .labels-form-div {
                    max-width: 415px;
                    @media (max-width: $screen-md-min) {
                        width: 100%;
                    }

                    .form-name-head {
                        font-family: $font-family-Bekaert-heading-regular;
                        font-weight: $font-weight-400;
                        font-size: $font-size-10;
                        line-height: $line-height-12;
                        color: $color-dark-blue;
                    }

                    .custom-label {
                        margin-bottom: 12px;
                    }

                    .form-name-example {
                        font-family: $font-family-Bekaert-regular;
                        font-weight: $font-weight-400;
                        font-size: $font-size-12;
                        color: $color-dark-gray;
                        line-height: $line-height-12;
                    }


                }

                .form-check-text {
                    font-family: $font-family-Bekaert-regular;
                    font-weight: $font-weight-400;
                    font-size: $font-size-15;
                    line-height: $line-height-146;
                    color: $color-dark-gray;

                }

                .download-form-check {
                    background-color: $color-light-gray;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .invalid-feedback-text {
                    font-family: $font-family-Bekaert-regular;
                    font-weight: $font-weight-400;
                    font-size: $font-size-12;
                    line-height: $line-height-146;
                    color: $color-red;
                    max-width: 415px;
                    text-align: right;
                }

                .was-validated {
                    &:invalid {
                        ~.invalid-feedback {
                            display: flex;
                            color: $color-pink;
                        }
                    }

                }

                .was-validated {
                    .form-control {
                        &:valid {
                            background-image: url(#{$image-path}/Vector.svg);
                            background-size: 12px;

                        }

                        &:invalid {
                            background-image: url(#{$image-path}/Group.svg);
                            background-size: 9.9px;
                        }
                    }
                    .form-select{
                        &:valid{
                            background-image: url(#{$image-path}/dropdwn-arrow.svg),url(#{$image-path}/Vector.svg),;
                            background-size: 12px;
                        }
                        &:invalid{
                            background-image: url(#{$image-path}/dropdwn-arrow.svg),url(#{$image-path}/Group.svg);
                            background-size: 9.9px;
                        }
                    }
                }



                .download-form-control {
                    &:focus {
                        box-shadow: none;
                    }
                }


                .form-seperation-line {
                    color: $color-dark-gray;
                    margin: 35px 0;
                }

                .dark-btn-request {
                    .btn {
                        border: 1px solid $color-regal-blue-II;
                        display: flex;
                        max-width: 149px;
                        padding-left: 0;
                        padding-right: 0;
                        min-height: 49px;

                        .cmp-button__text {
                            font-family: $font-family-Bekaert-bold;
                            font-weight: $font-weight-700;
                            font-size: $font-size-15;
                            line-height: $line-height-17;
                            color: $color-dark-blue;
                            margin: auto 20px;
                        }
                    }

                    .btn {
                        &:hover {
                            border: 1px solid $color-regal-blue;
                            padding-right: 0;
                            transition: 1s;
                        }
                    }

                    .btn {
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

            }

            .custom-form-div {
                @media (max-width: $screen-md-min) {
                    margin-top: 2rem;
                }
            }
            .form-check-input {
                border-color: $color-light-gray;
                background-color: $color-light-gray;
                cursor: pointer;
                &:checked{
                    background-color: $color-dark-blue;
                    background-image: url(#{$image-path}/filter-icons/square-checkbox.png);
                    background-size: 30%;
                }
            }
        }
    }

    .download-form-control {
        border-radius: 0;
        max-width: 415px;
        height: 50px;
        border-color: $color-white;
        @media (max-width: $screen-md-min) {
            width: 100%;
        }
    }

    .download-form-select {
        max-width: 415px;
        height: 50px;
        border-radius: 0;
        border-color: $color-white;
        color: $color-dark-gray;

        &:focus {
            box-shadow: none;
        }
    }

    .textarea-contact {
        max-width: 100%;
        height: 235px;
    }

    .attachment-input {
        background-color: $color-white;
        max-width: 870px;
        width: 100%;
        text-align: start;
        color: $color-dark-gray;
        height: 48px;
        padding: 12px 20px;
        border: none;
        &:hover{
            background-color: $color-white;
        }
    }

    .attachment-input-hidden {
        display: none
    }

    .form-instructions {
        font-family: $font-family-Bekaert-regular;
        font-weight: $font-weight-400;
        font-size: $font-size-15;
        line-height: $line-height-146;
        color: $color-dark-gray;
    }
}